@import './../../../node_modules/angular-material/angular-material.min.css'
@import './animate.css'

html,body
  background: #000;
  background-image: url('rainbow.png')
  background-repeat no-repeat
  background-position-y: 50%;
  background-size: cover;
  color:white;
  font-family: 'Dosis', sans-serif;

.active
  background-color: rgb(100,100,100)

.offline
  .online-indicator
    background: grey
  img
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */


.online-indicator
  transition: background-color 0.5s ease-out;
  background:limegreen
  text-align center
  position absolute
  width: 16px
  height: 16px
  bottom: 5px
  right 5px
  border-radius: 20px
  box-shadow:0px 0px 5px black
  z-index: 9999

md-card
  background-color:transparent
  box-shadow: none

.bestlist-detail
  &:last-child:after
    content:""
  &:after
    content:", "
.n16-achievements
  border-radius:50%;
  height:24px;
  width:24px;
  margin-right:2px;

keeper-list
  display:flex
  display:-webkit-flex
  display:-ms-flexbox

md-dialog
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */

.layout-content md-content
  background-color: transparent

.slider-menu
  height:75px
  padding:20px
  md-slider
    margin-top:20px;

img.logo
  height:50px

.layout-content md-toolbar
   background transparent


.colortext
  color:#F4008C
md-toolbar button.md-button.n16-keeper-button
  border-radius 50px
  border:1px solid white;
  background transparent
  padding: 0
  margin: 0
  width 50px
  min-width 50px
  height 50px
  font-size:14pt

.n16-avatar
  .md-avatar
    height:55px
    margin-left:-27%

  .md-button.md-fab
    height: 48px
    width: 48px

img.md-card-image.bra-snapshot
  max-width 500px

img.bra-news-image
  border-radius: 50px
  width: 50px
  margin-right: 10px
  vertical-align middle


.bra-news-image-container
  margin-top:0

refresh-button
  margin-left: 10px

.dutrinkst
  width:100%;
  height:calc(100vh - 105px)