md-dialog(aria-label='Screenshot',style="max-height: 100%;max-width: 100%")

    md-dialog-content
        img.demo-image(ng-src='{{image}}', alt='{{title}}', style="max-height:100%;max-width:100%",data-ng-click="cancel()")
