.layout-content
    md-toolbar
        .md-toolbar-tools
            h2
                span 2null16 - BRA
            span(flex='')
            keeper-list

    div(layout="column",layout-gt-xs="row")
        div(flex-gt-xs="60",style="height:100%")
            md-content(style="overflow-y:hidden")
                news-list(list="news")

        div(data-layout-margin,hide-xs, flex-gt-xs="40",style="height:100%")
            md-content
                bestlist(list="bestlist",achievements="achievements")
