
.layout-content(data-layout="column")
    md-toolbar
        .md-toolbar-tools
            h2
                span 2null16 - BRA
            span(flex='')
            .n16-avatar(style="position:relative", data-ng-repeat="keeper in barkeepers track by keeper.name",data-ng-class="{offline:!isActive[keeper.name]}")
                md-button.md-fab.md-primary(aria-label='Use Android')
                    img.md-avatar(data-ng-src="{{keeper.image}}",style="height:64px; margin-left:-25%;")
                .online-indicator
                    //md-icon.fa(md-font-icon="fa-bolt",style="font-size:9px")
                    div(style="font-size:12px",data-ng-bind="distance[keeper.name]")


    md-content(data-layout-margin, style="max-width:600px")
        md-card.animated.bounceIn(ng-repeat="item in news track by item.id")
            md-card-header
                md-card-avatar
                    img.md-user-avatar(data-ng-src="{{item.drink.type|typeimage}}",data-ng-if="item.type!=='IMAGE'")
                    img.md-user-avatar(data-ng-src="/internal/assets/flo.jpg",data-ng-if="item.type==='IMAGE'")
                md-card-header-text
                    span.md-title(data-ng-if="item.type==='IMAGE'",style="font-size:24px") <b>B.R.A Shot</b>
                    span.md-title(data-ng-if="item.type!=='IMAGE'" style="font-size:24px")
                        |  <b>{{ item.user.name }}</b> hat ein <b>{{ item.drink.name }}</b> bestellt.
            img.md-card-image(data-ng-src="/internal/images/{{item.image.path}}", alt='Washed Out',data-ng-if="item.type==='IMAGE'")
            md-card-title
                md-card-title-text
                    span.md-subhead {{ item.createdAt|date:'medium' }}