.layout-content
    md-toolbar
        .md-toolbar-tools.n16-header
            h2
                img.logo(src="/internal/assets/overjizzle_logo.png")
                span.text B.R.A.ctopus
            span(flex='')
            camera-button
            refresh-button

    div(layout="column",layout-gt-xs="row",data-ng-if="$ctrl.isDesktop")
        div(flex-gt-xs="60",style="height:100%")
            md-content(style="overflow-y:hidden")
                news-list(list="news")

        div(data-layout-margin,hide-xs, flex-gt-xs="40",style="height:100%")
            md-content
                livestream
                bestlist(list="bestlist",achievements="achievements")
    div(data-ng-if="!$ctrl.isDesktop")
        md-content(style="overflow-y:hidden")
            md-tabs(md-dynamic-height md-border-bottom, style="overflow:noscroll")
                md-tab(label="Newsfeed")
                    md-content(style="overflow-y:hidden")
                        news-list(list="news")
                md-tab(label="Bestlist")
                    md-content(style="overflow-y:hidden;padding:0 24px")
                        bestlist(list="bestlist",achievements="achievements")
                md-tab(label="Livestream")
                    md-content(style="overflow-y:hidden")
                        livestream
                md-tab(label="Du trinkst!")
                    md-content(style="overflow-y:hidden")
                        iframe.dutrinkst(
                            src="https://rhy7gvx9t1.execute-api.eu-west-1.amazonaws.com/dev/dutrinkst",
                            frameborder=0
                            )