.layout-content
    md-toolbar
        .md-toolbar-tools
            h2
                img.logo(style="position:absolute;top:0",src="/internal/assets/project_bra.png")
            span(flex='')
            keeper-list
            camera-button

    div(layout="column",layout-gt-xs="row")
        div(flex-gt-xs="60",style="height:100%")
            md-content(style="overflow-y:hidden")
                news-list(list="news")

        div(data-layout-margin,hide-xs, flex-gt-xs="40",style="height:100%")
            md-content
                livestream
                bestlist(list="bestlist",achievements="achievements")
