
.layout-content(data-layout="column")
    md-toolbar
        .md-toolbar-tools
            h2
                span 2null16 - BRA
            span(flex='')
            .n16-avatar(style="position:relative", data-ng-repeat="keeper in barkeepers track by keeper.name",data-ng-class="{offline:!isActive[keeper.name]}")
                md-button.md-fab.md-primary(aria-label='Use Android')
                    img.md-avatar(data-ng-src="{{keeper.image}}",style="height:64px; margin-left:-25%;")
                .online-indicator
                    md-icon.fa(md-font-icon="fa-bolt",style="font-size:9px")


    md-content(data-layout-margin)
        md-list
            md-list-item.md-3-line(ng-repeat="item in news track by item.id")
                .md-avatar(style="text-align:center", data-ng-if="item.type==='DRINK'")
                    md-icon.fa(md-font-icon="{{item.drink.type|icon}}",style="font-size:48px")
                .md-list-item-text(layout="column",data-ng-if="item.type==='DRINK'")
                    h3 <b>{{ item.user.name }}</b> hat ein <b>{{ item.drink.name }}</b> bestellt.
                    p {{ item.createdAt|date:'medium' }}
                .md-avatar(style="text-align:center", data-ng-if="item.type==='IMAGE'")
                    md-icon.fa(md-font-icon="fa-picture-o",style="font-size:48px")
                .md-list-item-text(layout="column",data-ng-if="item.type==='IMAGE'")
                    h3
                        img(data-ng-src="/internal/images/{{item.image.path}}",style="width:50vw")
                    p {{ item.createdAt|date:'medium' }}
                md-divider