.layout-content
    md-toolbar
        .md-toolbar-tools
            h2
                span 2null16 - BRA
            span(flex='')
            .n16-avatar(style="position:relative", data-ng-repeat="keeper in barkeepers track by keeper.name",data-ng-class="{offline:!isActive[keeper.name]}")
                md-button.md-fab.md-primary(aria-label='Use Android')
                    img.md-avatar(data-ng-src="{{keeper.image}}",style="height:64px; margin-left:-25%;")
                .online-indicator
                    div(style="font-size:12px",data-ng-bind="distance[keeper.name]")

    div(layout="column",layout-gt-xs="row")
        div(flex-gt-xs="60",style="height:100%")
            md-content(style="overflow-y:hidden")
                md-card.animated.rollIn(ng-repeat="item in news track by item.id")
                    md-card-header
                        md-card-avatar
                            img.md-user-avatar(data-ng-src="{{item.drink.type|typeimage}}",data-ng-if="item.type!=='IMAGE'")
                            img.md-user-avatar(data-ng-src="/internal/assets/flo.jpg",data-ng-if="item.type==='IMAGE'")
                        md-card-header-text
                            span.md-title(data-ng-if="item.type==='IMAGE'",style="font-size:24px") <b>B.R.A Shot</b>
                            span.md-title(data-ng-if="item.type!=='IMAGE'" style="font-size:24px")
                                |  <b>{{ item.user.name }}</b> hat ein <b>{{ item.drink.name }}</b> bestellt.
                    img.md-card-image(data-ng-src="/internal/images/{{item.image.path}}", alt='Washed Out',data-ng-if="item.type==='IMAGE'")
                    md-card-title
                        md-card-title-text
                            span.md-subhead {{ item.createdAt|date:'medium' }}
                div(data-infinite-scroll="addItems()" data-threshold="100" data-can-load="!isPending")

        div(data-layout-margin,hide-xs, flex-gt-xs="40",style="height:100%")
            md-content
                bestlist(list="bestlist")
