md-toolbar(layout='row')
    .md-toolbar-tools
        span Bestenliste

md-list(flex='')
    div(style="text-align:center")
        md-progress-circular.md-warn.md-hue-3(style="display:inline-block" data-ng-if="!$ctrl.loaded" md-diameter="70",md-mode='indeterminate')
    md-list-item.md-3-line(ng-repeat='item in $ctrl.bestlist track by item.user.id', style="transition: 1s all")
        .md-avatar(data-ng-bind="$index+1+'.'")
        .md-list-item-text(layout='column')
            h2(style="margin:0") {{ item.user.name }} &nbsp;
                span.animated.bounceIn(data-ng-repeat="achievement in $ctrl.getAchievementForUser(item.user.id).achievements track by achievement.id")
                    md-tooltip.md-primary(style="color:black",md-direction="top")
                        |{{achievement.name+': '+achievement.description}}
                    img.n16-achievements(alt="{{achievement.name}}" , data-ng-src="{{achievement.imagePath}}")
            h4 {{ item.drinkCount }} Getränk{{item.drinkCount >1? "e":""}}
            p
                span.bestlist-detail(data-ng-if="item.cocktailCount") {{ item.cocktailCount }} Cocktail{{item.cocktailCount >1? "s":""}}
                span.bestlist-detail(data-ng-if="item.beerCount") {{ item.beerCount }} Bier{{item.beerCount >1? "e":""}}
                span.bestlist-detail(data-ng-if="item.shotCount") {{ item.shotCount }} Shot{{item.shotCount >1? "s":""}}
                span.bestlist-detail(data-ng-if="item.coffeeCount") {{item.coffeeCount}} Kaffee
                span.bestlist-detail(data-ng-if="item.softdrinkCount") {{item.softdrinkCount}} Softdrink{{item.softdrinkCount >1? "s":""}}
        md-divider