md-toolbar(layout='row')
    .md-toolbar-tools
        span Bestenliste

md-list(flex='')
    md-list-item.md-3-line(ng-repeat='item in $ctrl.bestlist track by item.user.id', style="transition: 1s all")
        .md-avatar(data-ng-bind="$index+1+'.'")
        .md-list-item-text(layout='column')
            h2(style="margin:0") {{ item.user.name }} &nbsp;
                img.n16-achievements.animated.bounceIn(alt="{{achievement.name}}" title="{{achievement.name+': '+achievement.description}}",data-ng-repeat="achievement in $ctrl.getAchievementForUser(item.user.id).achievements track by achievement.id", data-ng-src="{{achievement.imagePath}}")
            h4 {{ item.drinkCount }} Getränke
            p
                span.bestlist-detail(data-ng-if="item.cocktailCount") {{ item.cocktailCount }} Cocktail{{item.cocktailCount >1? "s":""}}
                span.bestlist-detail(data-ng-if="item.beerCount") {{ item.beerCount }} Bier{{item.beerCount >1? "e":""}}
                span.bestlist-detail(data-ng-if="item.shotCount") {{ item.shotCount }} Shot{{item.shotCount >1? "s":""}}
                span.bestlist-detail(data-ng-if="item.coffeeCount") {{item.coffeeCount}} Kaffee
        md-divider