md-card.animated.rollIn(ng-repeat="item in $ctrl.list track by item.id")
    md-card-header
        md-card-avatar
            img.md-user-avatar(data-ng-src="{{::(item.drink.type|typeimage)}}",data-ng-if="::(item.type==='DRINK')")
            img.md-user-avatar(data-ng-src="{{::(item.achievement.imagePath)}}",data-ng-if="::(item.type==='ACHIEVEMENT')")
            img.md-user-avatar(data-ng-src="/internal/assets/brashot.jpg",data-ng-if="::(item.type==='IMAGE')")
        md-card-header-text
            span.md-title(data-ng-if="::(item.type==='IMAGE')",style="font-size:24px") <b>B.R.A Shot</b>
            span.md-title(data-ng-if="::(item.type==='ACHIEVEMENT')",style="font-size:24px")
                | <b>{{ ::item.user.name }}</b> hat das Achievement <b data-ng-bind-html="::(item.achievement.name|colortext)"></b> erreicht.
            span.md-title(data-ng-if="::(item.type==='DRINK')" style="font-size:24px")
                |  <b>{{ ::item.user.name }}</b> hat {{::item.cardinality}}x <b>{{ ::item.drink.name }}</b> bestellt.
    img.md-card-image(data-ng-src="/internal/images/{{item.image.path}}", alt='Washed Out',data-ng-if="::(item.type==='IMAGE')")
    md-card-content(style="padding-top:0")
        span.md-subhead {{ ::item.createdAt|date:'medium' }}