md-card.animated.lightSpeedIn(ng-repeat="item in $ctrl.list track by item.id | unique:'id'")
    md-card-header(data-ng-if="::(item.type==='IMAGE')")
        md-card-avatar
            img.bra-news-image(src="/internal/assets/brashot.jpg",data-ng-if="::(item.type==='IMAGE')")
        md-card-header-text
            span.md-title(style="font-size:24px") <b>B.R.A Shot</b>
    img.md-card-image.bra-snapshot(md-lightbox md-lightbox-title="B.R.A Shot",data-ng-src="/internal/images/{{item.image.path}}", alt='Washed Out',data-ng-if="::(item.type==='IMAGE')")
    md-card-title
        md-card-title-media.bra-news-image-container
            img.bra-news-image(data-ng-src="{{::(item.drink.type|typeimage)}}",data-ng-if="::(item.type==='DRINK')")
            img.bra-news-image(data-ng-src="{{::(item.achievement.imagePath)}}",data-ng-if="::(item.type==='ACHIEVEMENT')")
        md-card-title-text
            span.md-title(data-ng-if="::(item.type==='ACHIEVEMENT')",style="font-size:24px")
                | <b>{{ ::item.user.name }}</b> hat das Achievement <b data-ng-bind-html="::(item.achievement.name|colortext)"></b> erreicht.
            span.md-title(data-ng-if="::(item.type==='DRINK')" style="font-size:24px")
                |  <b>{{ ::item.user.name }}</b> hat {{::item.cardinality}}x <b>{{ ::item.drink.name }}</b> bestellt.

    md-card-content(style="padding-top:0")
        span.md-subhead {{ ::(item.createdAt|toDate|date:'medium') }}
div(style="text-align:center")
    md-progress-circular.md-warn.md-hue-3(style="display:inline-block" data-ng-if="$ctrl.showLoadingIndicator" md-diameter="70",md-mode='indeterminate')
